<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
           id="cordova-plugin-firebase-authentication"
      version="1.0.1">

    <name>cordova-plugin-firebase-authentication</name>
    <description>Cordova plugin for Firebase Authentication</description>
    <license>MIT</license>
    <keywords>cordova</keywords>
    <repo>https://github.com/chemerisuk/cordova-plugin-firebase-authentication</repo>
    <issue>https://github.com/chemerisuk/cordova-plugin-firebase-authentication/issues</issue>

    <js-module src="www/FirebaseAuthentication.js" name="FirebaseAuthentication">
        <merges target="cordova.plugins.firebase.auth" />
    </js-module>

    <engines>
        <engine name="cordova" version=">=7.1.0"/>
        <engine name="cordova-android" version=">=7.0.0"/>
        <engine name="cordova-ios" version=">=4.3.0"/>
    </engines>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="FirebaseAuthentication">
                <param name="ios-package" value="FirebaseAuthenticationPlugin" />
                <param name="onload" value="false" />
            </feature>
        </config-file>

        <header-file src="src/ios/FirebaseAuthenticationPlugin.h" />
        <source-file src="src/ios/FirebaseAuthenticationPlugin.m" />

        <framework src="Firebase/Auth" type="podspec" spec="~> 5.0"/>
    </platform>

    <platform name="android">
        <preference name="FIREBASE_AUTH_VERSION" default="16.0.+"/>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="FirebaseAuthentication">
                <param name="android-package" value="by.chemerisuk.cordova.firebase.FirebaseAuthenticationPlugin" />
                <param name="onload" value="false" />
            </feature>
        </config-file>

        <dependency id="cordova-support-android-plugin" version="~1.0.0"/>
        <dependency id="cordova-support-google-services" version="~1.2.0"/>

        <framework src="com.google.firebase:firebase-auth:$FIREBASE_AUTH_VERSION" />

        <source-file src="src/android/FirebaseAuthenticationPlugin.java"
            target-dir="src/by/chemerisuk/cordova/firebase/" />
    </platform>

</plugin>
