<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
           id="cordova-plugin-firebase-authentication"
      version="5.1.0">

    <name>cordova-plugin-firebase-authentication</name>
    <description>Cordova plugin for Firebase Authentication</description>
    <license>MIT</license>
    <keywords>cordova</keywords>
    <repo>https://github.com/chemerisuk/cordova-plugin-firebase-authentication</repo>
    <issue>https://github.com/chemerisuk/cordova-plugin-firebase-authentication/issues</issue>

    <js-module src="www/FirebaseAuthentication.js" name="FirebaseAuthentication">
        <merges target="cordova.plugins.firebase.auth" />
    </js-module>

    <engines>
        <engine name="cordova" version=">=10.0.0"/>
        <engine name="cordova-android" version=">=9.0.0"/>
        <engine name="cordova-ios" version=">=6.0.0"/>
    </engines>

    <platform name="ios">
        <preference name="IOS_FIREBASE_POD_VERSION" default="~> 8.8.0"/>

        <config-file target="config.xml" parent="/*">
            <feature name="FirebaseAuthentication">
                <param name="ios-package" value="FirebaseAuthenticationPlugin" />
                <param name="onload" value="false" />
            </feature>
        </config-file>

        <header-file src="src/ios/FirebaseAuthenticationPlugin.h" />
        <source-file src="src/ios/FirebaseAuthenticationPlugin.m" />

        <podspec>
            <config>
                <source url="https://cdn.cocoapods.org/"/>
            </config>
            <pods>
                <pod name="Firebase/Auth" spec="$IOS_FIREBASE_POD_VERSION" />
            </pods>
        </podspec>
    </platform>

    <platform name="android">
        <preference name="ANDROID_FIREBASE_AUTH_VERSION" default="21.0.+"/>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="FirebaseAuthentication">
                <param name="android-package" value="by.chemerisuk.cordova.firebase.FirebaseAuthenticationPlugin" />
                <param name="onload" value="false" />
            </feature>
        </config-file>

        <config-file target="config.xml" parent="/*">
            <preference name="AndroidXEnabled" value="true" />
            <preference name="GradlePluginGoogleServicesEnabled" value="true" />
            <preference name="GradlePluginGoogleServicesVersion" value="4.3.8" />
        </config-file>

        <dependency id="cordova-support-android-plugin" version="~1.0.0"/>

        <framework src="com.google.firebase:firebase-auth:$ANDROID_FIREBASE_AUTH_VERSION" />

        <source-file src="src/android/FirebaseAuthenticationPlugin.java"
            target-dir="src/by/chemerisuk/cordova/firebase/" />
    </platform>

</plugin>
